#easy-redmine-numbers-form {
  display: flex;
  align-items: center;
}

#easy-redmine-numbers-form input {
  margin-right: 8px;
  border: none;
  border-left: 3px solid #f14d34;
  padding-left: 8px;
}

#edit-delete, .field-suffix {
  display: none;
}

